# ignore these files
/Results/*
/PaperFigures/*
/PaperMeth/*
/Tests/*
/scripts_temp/*
/validation/*
/initCellInfo.m
/initConfiguration.m
/initAnalysisParams.m
/simul_single_cell_*
/.DS_Store
*/.DS_Store
*/*/.DS_Store
